.bookings-wrapper
  .booking-container
    .booking-content
      .content-wording
        section
          h3 Success!
        section(ng-if='!booking.paid_payments[0].credit_amount')
          .flex-row.bold
            .label First payment
            .content ${{booking.paid_payments[0].amount}}
              span.m-green &nbsp${{booking.paid_payments[0].status}}
        section(ng-if='!booking.paid_payments[0].credit_amount')
          .light
            | Your credit card ending in {{booking.paid_payments[0].payment_method.suffix}}
            | has been charged ${{booking.paid_payments[0].amount}}.
            | The owner has been notified to confirm the funds have been transferred.
            | You should now get the keys and start driving.

        section(ng-if='booking.paid_payments[0].credit_amount')
          .flex-row.bold
            .label Credit card charge
            .content ${{booking.paid_payments[0].amount}}
              span.m-green &nbsp${{booking.paid_payments[0].status}}
          .flex-row.bold
            .label App credits
            .content ${{booking.paid_payments[0].credit_amount}}
              span.m-green &nbsp${{booking.paid_payments[0].status}}
        section(ng-if='booking.paid_payments[0].credit_amount')
          .light
            | Your credit card has been charged ${{booking.paid_payments[0].amount}},
            | and you used ${{booking.paid_payments[0].credit_amount}} in app credit.
            | The owner has been notified to confirm the funds have been transferred.
            | You should now get the keys and start driving.
        hr
        section
          .flex-row.bold
            .label Next Payment
            .content ${{booking.next_payment.amount}} #[span.light &nbspon {{booking.next_payment.start_time}}]

      car-image(car='booking.car')

      .content-wording
        section
          car-features

        section
          button.button(ui-sref='^') OK
